/**
 * This css is ugly.
 * Don't judge me :D
 */

*, *:after, *:before {
  box-sizing: border-box;
}

::selection {
  background: rgba(0,0,0,.2);
}
::-moz-selection {
  background: rgba(0,0,0,.2);
}

body {
  font-family: 'Domine', serif;
  background: #657b83;
  color: #93a1a1;
  padding-bottom: 250px;
  position: relative;
  border-top: 10px solid #002b36;
  margin: 0;
}

#logo {
  padding: 100px;
}

.demo canvas, #logo canvas {
  display: block;
  margin: 0 auto;
}

.demo, .demo-title {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 799px) {
  .demo {
    flex-direction: column;
  }
}

.demo {
  margin-bottom: 4em;
}

.demo > section, .demo > pre {
  width: 50%;
  margin: 0;
}

@media (max-width: 799px) {
  .demo > section, .demo > pre {
    width: 90%;
  }
}

.demo > pre {
  box-shadow: rgba(0,0,0,.3) 0 3px 5px;
}

.demo > section {
  padding: 1em;
  position: relative;
}

.demo-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
}

.footer {
  border-bottom: 10px solid #002b36;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 50px;
  left: 0; right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer > div {
  padding: 0 5px;
}

.github {
  margin-bottom: 7em;
  text-align: center;
}

.github a {
  color: #073642;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 3px solid transparent;
  padding: 5px;
  transition: 250ms ease-out all;
}

.github a:hover {
  border-bottom-color: #b58900;
}

.nice-btn {
  font: inherit;
  background: #d33682;
  color: rgba(0,0,0,.6);
  border: 1px solid rgba(255,255,255,.2);
  padding: .25em .5em;
  box-shadow: rgba(0,0,0,.4) 0 1px 3px;
  font-size: 13px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 150ms ease-out all;
  outline: none;
}

.nice-btn:hover {
  background: #e33682;
}

.nice-btn i {
  font-size: 20px;
  display: block;
  height: 20px;
  width: 20px;
}

#staggerAgain, #animateAgain {
  margin-left: 30px;
}
